



* {
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: lightblue;
}

.header{
    border: 1px solid black;
}
.header img{
    float: left;
    width: 100px;
    height: 75px;
    background: #555;
    margin: 2px;
}

.header h1{
    color: blue;
    text-align: center;
    border-radius: 2px;
}

.navBar{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #FFB700;
    border-bottom: 1px solid #4c4c4c;
}

.navBar ul{
    list-style: none;
    width: auto;
    margin: 0 auto;
    padding: 0; 
    margin-left: 330px;
}

.navBar li{
    float: left; 
}

.navBar li a{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    font-family: "Arial";
    color: #4c4c4c;
    border-right: 1px solid #4c4c4c; 
}

.navBar li:first-child a{
    border-left: 1px solid #4c4c4c; 
}

.navBar li a:hover{
    background-color: #ffffff; 
}

.sideBar{
    width: 200px;
    float: left;
    padding: 0;
    background-color: #FFB700;
    border-bottom: 1px solid #4c4c4c; 
}

.sideBar ul{
    list-style: none;
    width: 800px;
    padding: 0; 
}

.sideBar img{
    height:150px;
    width: 200px;
    display: block;
}

.gallery {
    display: inline-block;
    margin: 5px 5px 5px 10px;
}

.desc {
    display: inline;
}

.gallery img {
    width: 100%;
    display: block;
}

img{
    height: 150px;
    width: 100px;
}

.left{
    float: left;
}

.middle{
    float: left;
}

.right{
    float: left;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}

#errorInput{
    color: red;
    font-style: italic;
    font-size: medium;
}